.turn_order.row{:class => [local_assigns[:turn_order_track] ? 'turn_order_track' : nil]}
  - players.each do |player|

    .col-2

      - active = current_game.current_player&.id == player.id && local_assigns[:turn_order_track]
      %div[player]{:data => {:color => player.color, :phase_status => player.phase_status, :online => player.online}, :class => [active ? 'active' : nil]}
        .house= house_icon
        %span.cities= player.cities
        %span>= '|'
        %span.power_capacity= player.power_capacity

        - unless local_assigns[:hide_phase_status]
          .phase_status
            .phase_incomplete
              = circle_icon
            .phase_complete
              = check_circle_icon

        - if debug?
          %div
            - if player == current_player
              #{current_player.balance}€
            - else
              - if Rails.env.development?
                = link_to player.id, claim_player_url(player)
