%h3 Choose resources power your cities

- if @your_turn

  = form_for @cities_power_up do |f|
    = render 'player_mats/player_mat', :player => current_player, :form => f
    = f.submit 'Burn resources', :class => 'btn btn-success btn-block mt-2'

  %h4.mt-3 Payment
  .row#payments_table
    - CitiesPowerUp::PAYMENTS.to_a.in_groups_of(7).each do |group|
      .col-4
        %table.table.payments_table.table.table-sm
          - group.each do |cities, elektro|
            %tr{:data => {:cities => cities}, :class => [cities == 0 ? 'table-success' : nil]}
              %th.text-right= cities
              %td= number_to_currency elektro, :unit => '€', :precision => 0
