%h3 Choose resources to power your cities

= form_for @cities_power_up, :data => current_player.attributes.slice(*%w[cities]), :html => {:class => 'your_turn'} do |f|
  = render 'player_mats/player_mat', :player => current_player, :form => f
  = f.submit 'Burn resources', :class => 'btn btn-success btn-block mt-2'
  = link_to 'Pass', pass_cities_power_ups_url, :method => :post, :class => 'btn btn-secondary btn-block', :data => {:confirm => 'Are you sure you do not want to power up your cities?'}

%h4.mt-3 Payment
.row#payments_table
  - CitiesPowerUp::PAYMENTS.to_a.in_groups_of(7).each do |group|
    .col-4
      %table.table.payments_table.table.table-sm
        - group.each do |cities, elektro|
          %tr{:data => {:cities => cities}, :class => [cities == 0 ? 'table-success' : nil]}
            %th.text-right= cities
            %td= number_to_currency elektro, :unit => '€', :precision => 0
