- content_for :auction do

  %h2 Auction

  - if @your_turn
    %p Choose a Power Plant to put up for auction.
  - else
    Waiting for #{current_game.current_player.name}.

-# market will be rendered here

- content_for :auction_form do

  = form_for @auction, :data => {:confirm => 'Start bidding?'} do |f|
    = f.hidden_field :card_id

    - if @your_turn
      .mt-3
        = f.submit 'Start bidding', :class => 'btn btn-success btn-block'

        - classes = %w[btn btn-secondary btn-block]
        - classes << 'disabled' if current_game.round == 1
        = link_to 'Pass', skip_auctions_url, :method => :post, :class => classes, :data => {:confirm => 'Skip the auction phase?'}

:coffee
  $(document).on 'turbolinks:load', ->
    window.setup_auction()
