- content_for :auction do

  .row[@auction]

    - if @auction.open?
      .col-8
        %h3 #{@auction.bidders.last.name} bid #{@auction.price}

        .row
          - if @your_turn
            .col-6= link_to "Bid #{@auction.price + 1}", bid_auction_url(@auction), :method => :post, :class => 'btn btn-success btn-block'
            .col-6= link_to "Pass", pass_auction_url(@auction), :method => :post, :class => 'btn btn-secondary btn-block', :data => {:confirm => 'Sure you want to pass?'}
          - else
            .col Waiting for #{@auction.player_turn.name}

      .col-4
        %h5 Bid order
        %ul
          - @auction.bidders.each_with_index do |bidder, idx|
            %li
              %div{:class => [idx == 0 ? 'active' : nil]}= bidder.name

    - else
      .col

        - if current_player == @auction.bidders.first
          %h3 You won the auction for #{@auction.price}€.
          = link_to 'Pay', claim_auction_url(@auction), :method => :post, :class => 'btn btn-success btn-block'

        - else
          %h3 #{@auction.bidders.first.name} won the auction for #{@auction.price}.

:coffee
  $(document).on 'turbolinks:load', ->
    window.show_markets()
