.card[PlayerMat.new(player)]{:data => player.attributes.slice(*%w[color]), :class => player == current_player ? 'current' : nil}

  %h3.card-header.d-flex
    .mat_item.flex-grow-1= player.name
    .mat_item
      = house_icon
      %span.cities= player.cities
      %span>= '|'
      %span.power_capacity= player.power_capacity

  .card-body
    = render 'cards/player_cards', :player => player, :show_resource_transfer_form => player == current_player
