.card.player_mat[player]{:data => {:color => player.color}}

  %h3.card-header.d-flex
    .mat_item.flex-grow-1= player.name
    .mat_item.elektro
      = "#{player.balance}€" if player == current_player
    .mat_item.cities
      = house_icon
      = "#{player.cities}|#{player.power_capacity}"

  .card-body
    .row
      - 3.times.each do |idx|
        .col-4

          - if card = player.cards[idx]
            = render card, :form => local_assigns[:form]
