.card.player_mat[player]{:data => player.attributes.slice(*%w[color])}

  %h3.card-header.d-flex
    .mat_item.flex-grow-1= player.name
    .mat_item
      = house_icon
      %span.cities= player.cities
      %span>= '|'
      %span.power_capacity= player.power_capacity

  .card-body
    .row
      - 3.times.each do |idx|
        .col-4

          - if card = player.cards[idx]
            = render card, :form => local_assigns[:form]
