= yield :resource_replenishment

#resource_replenishment.collapse{:data => {:parent => '#game_nav_panes'}}

  %h3 Replenishment

  .row
    - @resource_replenishment.player_rates.each do |step, rates|
      .col-4
        %table.resource_replenishment_rates.table.table-sm.table-bordered{:class => current_game.step == step ? 'table-success' : nil}
          %thead{:class => current_game.step == step ? 'bg-success text-white' : nil}
            %th.text-center{:colspan => 3}= "Step #{step}"
          %tbody
            - rates.each do |kind, num|
              %tr.text-center
                %th= resource_icon(kind)
                %td= num
