- classes = []
- classes << 'last_drawn' if local_assigns[:highlight_last_drawn] && card == current_game.cards.last_drawn
- classes << (card.step_3? ? 'step_3' : 'power_plant')
- classes << 'selected' if local_assigns[:auction]&.card == card
.card.mb-2[card]{:data => card.attributes, :class => classes}

  %h5.card-header.text-center
    - if card.number
      = card.number

  .card-body.text-center.requirements{:data => {:kinds => card.selected_kinds.join('-')}}
    - if card.step_3?
      .row
        .col
          STEP 3

    - else

      .row
        .col
          = resource_icons card.selected_kinds, card.resources_required

      .row
        .col
          = house_icon
          = card.cities

  - if card.resources.any?
    .card-body.resources.text-center
      - card.resources.in_groups_of(card.resources_required, false).each do |resources|
        .row
          .col
            - resources.each do |resource|
              = resource_token resource

  - if card.player == current_player
    .resource_transfer.start_hidden.text-center
      = label_tag "card_id_#{card.id}", 'To here'
      = radio_button_tag :card_id, card.id
