- classes = []
- classes << 'last_drawn' if local_assigns[:highlight_last_drawn] && card == current_game.cards.last_drawn
.card.mb-2.power_plant[card]{:data => card.attributes, :class => classes}

  %h5.card-header.text-center= card.number

  .card-body.text-center.requirements{:data => {:kinds => card.selected_kinds.first(1).join('-')}}
    .row
      .col
        - [card.resources_required, 1].max.times do
          = resource_icon card.selected_kinds.first

    .row
      .col
        = house_icon
        = card.cities

  - if card.resources.any?
    .card-body.resources.text-center
      - card.resources.in_groups_of(card.resources_required, false).each do |resources|
        .row
          .col
            - resources.each do |resource|
              = resource_token resource
