%ul#game_nav.nav.nav-pills.nav-fill
  %li.nav-item= link_to players_icon, nil, :class => 'nav-link',       :id => 'player_mats_nav_link',            :data => {:toggle => 'collapse', :target => '#player_mats'}
  %li.nav-item= link_to market_icon, nil, :class => 'nav-link',        :id => 'market_nav_link',                 :data => {:toggle => 'collapse', :target => '#markets'}
  %li.nav-item= link_to resources_icons, nil, :class => 'nav-link',    :id => 'resource_market_nav_link',        :data => {:toggle => 'collapse', :target => '#resource_market'}
  %li.nav-item= link_to building_icon, nil, :class => 'nav-link',      :id => 'building_calculator_nav_link',    :data => {:toggle => 'collapse', :target => '#building_calculator'}
  %li.nav-item= link_to replenishment_icon, nil, :class => 'nav-link', :id => 'resource_replenishment_nav_link', :data => {:toggle => 'collapse', :target => '#resource_replenishment'}
