!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title PowerGridCompanion
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, shrink-to-fit=no"}
  %body

    = render 'layouts/navbar'
    = render 'layouts/game_state'
    = render 'layouts/game_nav'

    .container-fluid

      = render 'layouts/turn_order'
      #game_nav_panes
        = render 'layouts/game_nav/player_mats'
        = render 'layouts/game_nav/resource_market'

      = yield
