!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title PowerGridCompanion
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, shrink-to-fit=no"}
  %body

    = render 'layouts/navbar'
    - if current_game
      = render 'layouts/game_nav'

    .container-fluid

      - if current_game
        = render 'turn_orders/turn_order', :players => current_game.players.in_turn_order, :turn_order_track => true
        #game_nav_panes
          = render 'layouts/game_nav/player_mats'
          = render 'auctions/markets'
          = render 'layouts/game_nav/resource_market'
          = render 'layouts/game_nav/resource_replenishment'

      = yield
